button {
    background-color: rgb(255, 217, 0);
    border-color: rgb(19, 1, 17);
    color: rgb(250, 250, 250)
}

body {
    margin: 0;
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 150px;
    font-family: 'Montserrat', sans-serif;

}
